@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
    background-color: 	#fffaf0;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Background */

.bg { 
    height: 100%;
    width: 50%;
    margin: auto;
    background: url("a3074179060_16.jpg") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;

} 

/* Page Links */
a{
    text-decoration: none;
    color: #D6B0AF;
}

a:hover{
    text-decoration: none;
    color: rgb(173, 144, 143);
}

.links{
    padding-left: 430px;
    padding-right: 450px;
    padding-top: 135px;
    font-family: 'Indie Flower', cursive;
    font-size: 170%;
}

.music-link{
    padding-left: 20px;
    margin: 0;
}

.shows{
    margin: 0;
    padding-left: 18px;
    color: red;
}


/* Bottom Links */

.bottom-row{
    font-family: 'Indie Flower', cursive;
    font-size: 80%;
    padding-top: 340%;
    padding-right: 5%;
    margin: 0;
    text-align: center;
}

#bio-link{
    margin: 0;
}

#merch-link{
    margin: 0;
}

/* Social Media Links */

/*
.social-row{

    font-family: 'Indie Flower', cursive;
    font-size: 80%;
    padding-top: 330%;
    margin: 0;
    text-align: center;
}

.mobile-links{
    font-family: 'Indie Flower', cursive;
    font-size: 80%;
    padding-top: 330%;
    margin: 0;
    text-align: center;
    display: none;
}

#fb{
    margin: 0;
}

#twt{
    margin: 0;
}

#insta{
    margin: 0;
}

*/

/* Media Queries */

@media screen and (min-width: 770px) and (max-width: 1024px){
    .bg{
        height: 105%;
        width: 50%;
    }

    .links{
        padding-left: 440px;
        padding-top: 203px;
        font-size: 265%;
    }
}

@media screen and (min-width: 420px) and (max-width: 768px){
    .bg{
        height: 150%;
        width: 150%;
    }

    .links{
        padding-left: 450px;
        padding-top: 225px;
        font-size: 265%;
    }

    .bottom-row{
        padding-top: 325%;
    } 
}

@media screen and (min-width: 413px) and (max-width: 414px){
    
        .bg{
            display: flex;
            height: 270%;
            width: 280%;
            margin: 0;
        }
    
        .links{
            padding-left: 460px;
            padding-right: 0;
            padding-top: 315px;
            font-size: 270%;
        }
        
        .bottom-row{
            padding-top: 480%;
        } 
    }

@media screen and (min-width: 380px) and (max-width: 412px){

    .bg{
        display: flex;
        height: 285%;
        width: 290%;
        margin: 0;
    }

    .links{
        padding-left: 465px;
        padding-right: 0;
        padding-top: 315px;
        font-size: 340%;
    }

    .bottom-row{
        padding-top: 410%;
    } 

}

@media screen and (min-width: 370px) and (max-width: 375px) and (max-height: 815px) {
    
    .bg{
        height: 266%;
        width: 315%;
    }

    .links{
        padding-left: 455px;
        padding-top: 325px;
        font-size: 290%;
    }

    .bottom-row{
        padding-top: 435%;
    } 
}

@media screen and (min-width: 370px) and (max-width: 375px) and (max-height: 667px) {
    
    .bg{
        height: 310%;
        width: 310%;
    }

    .links{
        padding-left: 455px;
        padding-top: 325px;
        font-size: 290%;
    }

    .bottom-row{
        padding-top: 435%;
    } 
}

@media screen and (max-width: 360px){

    .bg{
        display: flex;
        height: 265%;
        width: 270%;
        margin: 0;
    }

    .links{
        padding-left: 365px;
        padding-right: 0;
        padding-top: 240px;
        font-size: 265%;
    }

    .bottom-row{
        padding-top: 415%;
    }  

    /*
    .social-row{
        padding-top: 388%;
    }

     .desktop-links{
        display: none;
    }

    .mobile-links{
        display: initial;
    } */

}